In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

In [4]:
query = """
    SELECT COUNT(1) FROM yellow_taxi_data
"""
pd.read_sql(query, engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'