In [6]:
import pandas as pd
pd.__version__

import pyarrow.parquet as pq

In [17]:
trips = pq.read_table('data-parquet/yellow_tripdata_2022-01.parquet')
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [24]:
# connection to postgres
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

In [35]:
# convert Parquet File to SQL
trips = pq.read_table('data-parquet/yellow_tripdata_2022-01.parquet')
# trips
# df = trips.to_pandas()
# df.to_sql(name='yellow_taxi_data', con='pyarrow', if_exists='replace', chunksize=100000)

In [37]:
# Another way to do it
df = pd.read_parquet('data-parquet/yellow_tripdata_2022-01.parquet',
                         engine='pyarrow') 

df.to_sql(
        name='yellow_taxi_data',
        con=engine,
        if_exists='replace',
        chunksize=150000
    )

# OLD: 4927862

16931

In [39]:
query = """
    SELECT COUNT(1) FROM yellow_taxi_data
"""
pd.read_sql(query, con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)